.article-view__title {
	/* text-align: center; */
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: 300;
}

@media (min-width: 600px) {
	.article-view__title {
		font-size: 80px;
	}
}

.article-view__thumb {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

@media (min-width: 600px) {
	.article-view__thumb {
		width: 50%;
		max-width: 800px;
		float: left;
		margin-right: 20px;
	}
}

.article-view__footer-link {
	clear: both;
	display: block;
	padding-top: 10px;
	text-decoration: none;
	border-top: 1px solid #6e9489;
}
